.presence {
    height: 65px;
    background: #3f0e40;
    color: white;
    padding: 10px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.presence:hover {
    background: #350437;
}

.presence > .row {
    margin: 0;
}

.presence > .row > .workspace-name {
    font-size: 1.16rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.presence > .row > .user-full-name {
    font-size: 0.9rem;
    margin: 0;
    color: #bbb;
}

.presence:hover > .row > .user-full-name {
    color: white;
}

.presence > .row > .notifications {
    color: #bbb;
}

.presence > .row > .notifications:hover {
    color: white;
}

.presence > .row > .notifications > span {
    font-size: 1.24rem;
    vertical-align: middle;
}

.presence > .row > .ddown {
    color: #bbb;
}

.presence:hover > .row > .ddown {
    color: white;
}

.presence > .row > .ddown > span {
    font-size: 0.8rem;
    vertical-align: text-bottom;
    padding-right: 7px;
    padding-left: 3px;
}

.presence > .row > .presence-indicator {
    margin-top: -4px;
    margin-left: 1px;
}

.presence > .row > .presence-indicator > span {
    font-size: 0.55rem;
    width: 15px;
    color: teal;
}


